*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background: linear-gradient(rgba(19, 134, 227, 0.2),rgba(19, 134, 227, 0.2)), url('images/space.jpg');
    background-size: cover ;
    
}
#issMap{
    height: 500px;
    margin: 10px;
    
}

.longlat{
   margin: 10px;
   padding: 5px;
   background: linear-gradient(rgba(234, 234, 243, 0.2),rgba(219, 219, 232, 0.2));
   backdrop-filter: blur(5px);
   text-align: center;
   font-weight: 550;
   color: aliceblue;
}

h2{
    text-align: center;
    color: aliceblue;
    margin: 25px;
    font-weight: 400;
}

p{
    padding: 5px;
}